<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Heading 1</h1>
<h2>Sub heading 2</h2>
<h3>Sub heading 3</h3>
<p>This is my first paragraph</p>
<p>This is my second paragraph</p>
<div style="background:skyblue">This is a div</div>


<a href="form.html">Fill Our Form</a> <br/>
<a href="../parent.html">Parent</a> <br/>
<a href="stuff/cat.html">Catalog</a> <br/>
<a href="http://www.nasa.org" target="_blank">NASA</a> <br/>
<a href="mailto:bugs@example.com?subject=Bug Report">Please report
    bugs here (by e-mail only)</a>
<br/>
<a href="apply-now.html"><img src="apply-now-button.jpg"/> </a> <br />
<a href="../english/index.html">Switch to English version</a> <br/>


<ol type="1">
    <li>Apple</li>
    <li>Orange</li>
    <li>Grapefruit</li>
</ol>
<ul type="disc">
    <li>Apple</li>
    <li>Orange</li>
    <li>Grapefruit</li>
</ul>
<dl>
    <dt>HTML</dt>
    <dd>A markup lang...</dd>
</dl>



<table cellspacing="0" cellpadding="5">
    <tr>
        <td><img src="nature.png", style="width: 300px"></td>
        <td><a href="lecture1.ppt">Lecture 1</a></td>
    </tr>
    <tr>
        <td><img src="ppt.gif"></td>
        <td><a href="lecture2.ppt">Lecture 2</a></td>
    </tr>
    <tr>
        <td><img src="zip.gif"></td>
        <td><a href="lecture2-demos.zip">
            Lecture 2 - Demos</a></td>
    </tr>
</table>


<form>
    <fieldset>
        <legend>Client Details</legend>
        <input type="text" id="Name" />
        <input type="text" id="Phone" />
    </fieldset>
    The <legend> is the fieldset’s title</legend>
    <fieldset>
        <legend>Order Details</legend>
        <input type="text" id="Quantity" />
        <textarea cols="40" rows="10"
                  id="Remarks"></textarea>
    </fieldset>

    <input type="checkbox" name="fruit" value="apple" />
    <input type="radio" name="title" value="Mr." />
    <input type="radio" name="city" value="Cluj" />
    <input type="radio" name="city" value="Huedin" />
    <select name="level">
        <option value="1" selected>Beginner</option>
        <option value="2">Intermediate</option>
        <option value="3">Advanced</option>
    </select>
    <select name="products" multiple>
        <option value="1" selected>keyboard</option>
        <option value="2">mouse</option>
        <option value="3">speakers</option>
    </select>
    <input type="button" value="click me" />
    <input type="submit" name="submit_button" value="Apply Now" />
    <input type="reset" name="resetBtn" value="Reset the form" />
</form>



</body>
</html>
